body{
    margin: 15px;
    padding: 15px;
    font-size: 25px; 
}

div{
    margin: 15px;
    padding: 15px;
}

.nameParagraph{
    margin: 0;
    display: flex;
    justify-content: center;
    justify-content: center;
}

.nameParagraph p{
    margin: 0;
    text-align: center;
    font-size: 50px;
    border-bottom: 3px solid #000;
    width: 70%;
}

.mainDives{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tasks{
    width: 65%;
    border: 2px solid #000;
    background-color: #2F7986;
}

.tasks .zadanye a{
    text-decoration: none;
    color: #fff;
}

.someInfo{
    width: 30%;
    border: 2px solid #000;
    background-color: #2F7986;
}

.someInfo .someText{
    margin: 0;
    color: #fff;
}